.main-navigation-menu .menu > li a {
    display: flex;
	flex-direction: column;
}

.main-navigation-menu .menu > li a > i {
    font-size: 2em;
    margin-bottom: 0.75rem;
}

.main-navigation-menu .menu > li a > span {
    font-size: 0.875em;
    white-space: nowrap;
}
