.profile {
  &__section {
    display: flex;

    &__icon {
      font-size: 1.25em;
      margin-right: 2rem;
    }

    &__content {
      width: 100%;

      &__title {
        font-size: 1.25em;
        font-weight: 600;
      }
    }
  }
}
